<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="./css/styleHome.css" />
    <script
      src="https://kit.fontawesome.com/7577eba8ec.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/p5@0.10.2/lib/p5.js"></script>
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Company Analysis Tool</title>
  </head>
  <body>
    <nav class="navigation">
      <h2 class="title">Company Analysis Tool</h2>
      <ul>
        <li><a href="./index.html">Companies House</a></li>
        <li><a href="./opencorporates.html">Open Corporates</a></li>
        <li><a href="./duedil">Duedil</a></li>
      </ul>
    </nav>
    <div class="container">
      <div class="cat"><h4>Company Analysis Tool</h4></div>
      <div class="nav-links">
        <div class="home-link">
          <a href="/"><i class="fas fa-home"></i></a>
        </div>
        <div class="ch-link"><a href="companies">Companies House</a></div>
        <div class="oc-link">
          <a href="opencorporates">Open Corporates</a>
        </div>
        <div class="dd-link"><a href="duedil">Duedil</a></div>
        <div class="date-time">
          <p class="time"></p>
        </div>
      </div>

      <h4 class="news-title">Latest Updated Companies</h4>

      <div class="news-container">
        <ul class="news"></ul>
        <!-- <h1><%= results %></h1> -->
        <table>
          <tr>
            <th>
              Company Name
            </th>
            <th>
              Company Number
            </th>
            <th>
              Source
            </th>
            <th>
              Last Updated
            </th>
          </tr>
          <% for(var i=0; i < results.length; i++) { %>
          <tr class="entry">
            <td><%= results[i].company_name %></td>
            <td><%= results[i].company_number %></td>
            <td><%= results[i].source %></td>
            <td class="last-update"><%= results[i].last_updated %></td>
          </tr>
          <% } %>
        </table>
      </div>

      <div class="loading"></div>
    </div>

    <!-- <script src="../public/js/particles.js"></script> -->
    <script>
      const dateTime = document.querySelector(".time");
      const lastUpdate = document.querySelectorAll(".last-update");

      lastUpdate.forEach(cell => {
        cell.innerText = cell.innerText.slice(4, 15);
      });

      function addZero(n) {
        return n < 10 ? `0${n}` : n;
      }

      function getTime() {
        const time = new Date();
        dateTime.innerHTML = `${addZero(time.getDate())} / ${addZero(
          time.getMonth() + 1
        )} / ${time.getFullYear()}</br>${addZero(time.getHours())}:${addZero(
          time.getMinutes()
        )}:${addZero(time.getSeconds())}`;

        setTimeout(getTime, 1000);
      }

      getTime();
    </script>
  </body>
</html>
