<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/style.css" />
    <script
      src="https://kit.fontawesome.com/7577eba8ec.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/p5@0.10.2/lib/p5.js"></script>
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Company Analysis Tool</title>
  </head>
  <body>
    <div class="container">
    
        <header>
          <div class="cat"><h4><a href="/"> Company Analysis Tool</a></h4></div>
          <div class="nav-links">
            <div class="ch-link"><a href="/companies">Companies House</a></div>
            <div class="oc-link">
              <a href="/opencorporates">Open Corporates</a>
            </div>
            <div class="dd-link"><a href="/duedil">DueDil</a></div>
            <div>
              <a href="/database">Database</a>
            </div>
          </div>
        </header>

        <div class="mobile-nav">
          <div class="mobile-logo">COMPANY ANALYSIS TOOL</div>
          <div class="menu-toggle">MENU</div>
        </div>
  
        <div class="mobile-navlinks">
          <div class="close">CLOSE</div>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/companies">Companies House</a></li> 
            <li><a href="/opencorporates">Open Corporates</a></li> 
            <li><a href="/duedil">DueDil</a></li>
            <li><a href="/database">Database</a></li>  
          </ul>
        </div>

      <div class="image">
        <img class="pattern" src="/images/pattern.png" alt="">
        <img class="roto loading" src="/images/circle.png" alt="">
      </div>

      <ul class="db-co-list">

          <li>
              <% if (isLogged){ %>
              <a href="/users/dashboard">Dashboard</a>
              <% }else{ %>
              <a href="/users/login">Sign In</a>
              <% } %>
            </li>

        <li>
          <a href="/database">Search Database</a>
        </li>
      </ul>

      <div class="co-info-container">
        <h3>
          <%= results[0].company_name %> (<%= results[0].company_number %>)
        </h3></br>
        <h4>Source: <%= results[0].source %></h4></br>
        <p><%= results[0].company_summary %></p></br>
        <p>Last update: <%= results[0].last_updated %></p>

    </div>


  </div>

  <script src="../../js/app.js"></script>
    <script>
      const lastUpdate = document.querySelectorAll(".last-update");

      // Shorten the date
      lastUpdate.forEach(cell => {
        cell.innerText = cell.innerText.slice(4, 15);
      });

    </script>
  </body>
</html>
